@model Person


<form method="post">
	<input asp-for="PersonId" hidden />

	<div class="border p-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">Screen of Deleting Person</h2>
			<hr />
		</div>


		<div class="mb-3">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Delete Person</button>

		<a asp-controller="Person" asp-action="Index" class="btn btn-lg btn-primary" style="width:400px">
			Back To Person List
		</a>

	</div>

</form>

