@model Language


<form method="post">
	<input asp-for="LanguageId" hidden />

	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-5">
				<div class="row pb-3">
					<h2 class="text-primary">@(Model == null ? "Create New Language" : "Update Language")</h2>
					<hr />
				</div>

				
				<div class="mb-3">
					<label asp-for="LanguageName" class="p-0"></label>
					<input asp-for="LanguageName" class="form-control" />
					<span asp-validation-for="LanguageName" class="text-danger"></span>
				</div>


				

				@if (Model != null)
				{
					<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Update</button>
				}
				else
				{
					<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Create new language</button>
				}

				<a asp-controller="Language" asp-action="Index" class="btn btn-lg btn-primary" style="width:400px">
					Back to language list
				</a>

			</div>
		</div>
		

	</div>



</form>

