@model ThesisType


<form method="post">
	<input asp-for="TypeId" hidden />

	<div class="border p-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">Screen Of Deleting Thesis Type</h2>
			<hr />
		</div>


		<div class="mb-3">
			<label asp-for="TypeName" class="p-0"></label>
			<input asp-for="TypeName" disabled class="form-control" />
		</div>

		<button type="submit" class="btn btn-lg btn-primary" style="width:250px">Delete Thesis Type</button>

		<a asp-controller="ThesisType" asp-action="Index" class="btn btn-lg btn-primary" style="width:400px">
			Back To Thesis Type List
		</a>

	</div>

</form>

